form {
  margin-top: 6%;
  width:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8%;
  border: grey solid 6px;
  border-radius: 8px;
  
  h2{
    margin-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
  }

  label{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
  }

  button{
    margin-top: 4%;
    margin-bottom: 4%;
  }
  
}