#cardContainer {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
}

#nextPrevButtons {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
}
